.test {
    text-align: center;
}

.test1 {
    text-align: center;
}

p {
    font-size: 18px;
    font-family: cursive;
}

p1 {
    font-size: 18px;
    font-family: cursive;
}

nav {
    background-color: aqua;
}